body{
	background: #efefef;
}
a{
	color: #4a4a4a;
}
nav{
	z-index: 9999;
}
nav.navbar-custom{
	background: transparent;
	border: none;
	padding-top: 30px;
}
nav.navbar-custom li{
	padding-right: 10px;
}
.cover{
	background: image-url('cover.jpg');
	background-size: cover;
	width: 100%;
	height: 400px;
	position: absolute;
	top: 0;
	z-index: 9;
}
.overlay{
	background: rgba(33, 25, 25, 0.4);
	height: 100%;
}

.restaurant{
	background: #ffffff;
	border: 1px solid #efefef;
	padding: 20px;
	margin-top: 20px;
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0,0,0,.04);
}
.restaurant h2{
	margin-top: 0;
}
.restaurant i{
	font-size: 10px;
}
.thumb{
	margin-right: 15px;
}
.thumb img{
	border-radius: 5px;
	width: 110px;
	height: 86px;
}
